* {
  margin: 0%;
  padding: 0%;
  /* background-color: black; */
}
body {
    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
}

.navbar {
  background-color: green;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 22px;
  margin-bottom : 30px ;
  width: 6in;
  height: 6in;
  margin-left: 30%;
  margin-right: 5%;
  background-color: white;
  border: solid rgb(143, 156, 233) 2px;
}

.inputs {
  display: flex;
  margin-top: 5in;
  margin-left: 9%;
  margin-top: 12%;
   
}

/* #h3 {
    text-shadow: 1in;
    
    color: brown;
  display: inline-block;
  margin: 30px;
  margin-left: 25%; 

} */

#h3:hover {
    color: rgb(107, 123, 211);
    width: 300px;
    
    ;
    
    
}

#scroll{
    transition: width 2s, height 5s, background-color 7s, transform 7s;
    text-shadow: 1in;

    color: rgb(56, 77, 197);
    
}

/* .box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
  
  .box:hover {
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
    rotate: 180deg;
  } */





#id1 {
  padding: 8px;
}

#passward {
  margin-top: 5pxS;
}

#logo{
    position: absolute;
    margin: auto;
    display: inline-block;
    float: inherit;
    margin-top: 80px;
    margin-left: 240px;

    
}

#he {
  font-size: 25px;
  color: rgb(56, 77, 197);
  position: absolute;
  margin-top: 13%;
  margin-left: 18%;
}

#email {
    width: 24%;
    border-radius: 10px;
    padding: 7px;
    border-color: rgb(163, 175, 243);

}

#password {
    padding-right: 200px;
    width: 24%;
    border-radius: 10px;
    border-color: rgb(163, 175, 243);
    padding: 7px;
}




#bt1 {
    width: 3in;
    margin-top: 110px;
padding: 8px ; 
margin-left: 65px;
border-radius: 10px;
border-color: rgb(163, 175, 243) ;
}



#bt1:hover{
    color: white;
    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
    border: none;
}


#bt2:hover{
    color: white;
    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
    border: none;
}



#bt2 {
    margin-left: 65px;
    width: 3in;
    margin-top: 25px;
padding: 8px ; 
border-radius: 10px;
border-color: rgb(163, 175, 243) ;
}
.btn{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
}