* {
  margin: 0%;
  padding: 0%;
  /* background-color: black; */
}
body {
    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
}

.navbar {
  background-color: green;
}

.container {
    
  border-radius: 20px;
  margin-top: 35px;
  margin-bottom : 30px ;
  width: 90%;
  height: 6in;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border: solid rgb(143, 156, 233) 2px;
}

.inputs {
  margin-left: 09%;
  margin-right: 50%S;
  margin-top: 12%;
   
}

#h3 {
    
    color: brown;
  display: inline-block;
  margin: 30px;
  margin-left: 25%; 

}

#h3:hover {
    color: rgb(107, 123, 211);
    width: 300px;
    
    transition: width 2s, height 2s, background-color 3s, transform 7s;
    
    
}

#scroll{
    color: red;
}

/* .box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
  
  .box:hover {
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
    rotate: 180deg;
  } */





#id1 {
  padding: 8px;
}

#passward {
  margin-top: 5pxS;
}

#logo{
    display: inline-block;
    float: right;
    margin-top: 50px;
    margin-right: 40px;
    
}

#email {
    width: 24%;
    border-radius: 10px;
    padding: 7px;
    border-color: rgb(163, 175, 243);

}

#password {
    padding-right: 200px;
    width: 24%;
    border-radius: 10px;
    border-color: rgb(163, 175, 243);
    padding: 7px;
}




#bt1 {
    margin-top: 25px;
padding: 8px ; 
border-radius: 10px;
border-color: rgb(163, 175, 243) ;
}



#bt1:hover{
    color: white;
    background-color: #885df1;
    border: none;
}


#bt2:hover{
    color: white;
    background-color: #885df1;
    border: none;
}



#bt2 {
    margin-top: 25px;
padding: 8px ; 
border-radius: 10px;
border-color: rgb(163, 175, 243) ;
}
.btn{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
}